.wp-block-marks-timeline-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    gap: var(--item-gap, 10px);
    position: relative;
    padding-bottom: var(--items-gap, 16px );

    // vertical line — 8px gap below icon, 8px gap before next icon
    &::before {
        content: '';
        position: absolute;
        left: 23px;
        top: 56px;
        bottom: 8px;
        width: 3px;
        background: #af8b0c;
        z-index: 0;
    }

    .timeline-icon {
        width: 48px;
        height: 48px;
        margin-top: 0;
        border: none!important;
        margin-block-start: 0;
        border-radius: 40px;
        background: var(--icon-bg, #af8b0c);
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 26px;
            height: 26px;
            object-fit: contain;
        }

        svg {
            width: 26px;
            height: 26px;
            color: #fff;
            fill: currentColor;
            flex-shrink: 0;
        }

        .marks-custom-svg-container {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                width: 26px;
                height: 26px;
            }
        }

        // editor click-to-upload button
        .timeline-icon-btn {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: transparent;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
        
            justify-content: center;
            cursor: pointer;
            padding: 0;
        }
    }

    .timeline-content {
        flex: 1 1 0%;
        min-width: 0;
        background: #f8f8f0;
        border-radius: 8px;
        padding: 32px;
        gap: 16px;
        margin-top: -15px;
    }
}
