:where(figure) {
    margin: 0 !important;
}

.wp-block-group {
    overflow: clip;
}

.wp-block-buttons.is-style-full-width {
    width: 100% !important;
}

.is-style-post-typo.wp-block-post-content h2 {
    font-size: var(--wp--preset--font-size--marks-x-large);
}

.is-style-outline-link .wp-block-post-excerpt__more-link {
    border: 1px solid currentColor;
    border-radius: 100px;
    padding: 10px 24px;
}

header.wp-block-kadence-rowlayout {
    position: relative;
}

header.wp-block-kadence-rowlayout::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(180deg, rgba(13, 27, 42, 0.7) 50%, rgba(13, 27, 42, 0) 77.94%);
    content: '';
    z-index: -1;
}
