.has-floating-border-1,
.has-floating-border-2 {
    position: relative;
}

.has-floating-border-1::before,
.has-floating-border-2::after {
    content: '';
    position: absolute;
    pointer-events: none;
    z-index: 2;
}

.has-floating-border-1::before {
    width: var(--fb1-width, 0);
    height: var(--fb1-height, 0);
    background-color: var(--fb1-color, transparent);
    top: var(--fb1-top, auto);
    right: var(--fb1-right, auto);
    bottom: var(--fb1-bottom, auto);
    left: var(--fb1-left, auto);
}

.has-floating-border-2::after {
    width: var(--fb2-width, 0);
    height: var(--fb2-height, 0);
    background-color: var(--fb2-color, transparent);
    top: var(--fb2-top, auto);
    right: var(--fb2-right, auto);
    bottom: var(--fb2-bottom, auto);
    left: var(--fb2-left, auto);
}

@media (max-width: 767px) {
    .has-floating-border-1::before,
    .has-floating-border-2::after {
        display: none;
    }
}
