.wp-block-marks-image-accordion {
    .nx-append-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 16px;
        padding: 12px 24px;
        background: #126464;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        border-radius: 8px;
        cursor: pointer;
    

}
}