.wp-block-marks-unfold-content {
    overflow: visible;

    .marks-unfold-content {
        display: flex;
        flex-direction: column;
        gap: var(--items-gap, 0px);
        overflow: visible;
    }
}
